*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
}


.rmv-product{
    background-color: rgb(228, 114, 114);
    
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h1{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}


.cart{
    display: flex;
}

.shop{
    flex: 75%;
}

.box{
    display: flex;
    width: 90%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
    /* background:#C3FDB8; */
    transition: all .6s ease;
    box-shadow: rgb(100,100,111,0.2)0 7px 29px 0;
    border-bottom: 7px solid var(--light-green-color);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.box:hover{
    transform: scale(1.02);
}

.checkbox{
    position:absolute;
    padding-right: 20px;
    border-radius: 50px;
}

.box img{
    width: 180px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 30px;
}

.content{
    padding: 10px;
    position: relative;
    width: 100%;
}

.content h3{
    margin-bottom: 20px;
}

.content h4{
    margin-bottom: 30px;
}

.btn-area{
    background-color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
}

.bx{
    color: black;
}

.empty-cart{
    content: "\2716"; /* Unicode cross symbol */
    color: #6b6b6b; /* Dark red cross color */
    font-size: 24px; /* Cross size */
    margin-right: 5px;
    border: 1px solid #1b7a05; /* Border color */
    border-radius: 10px;
    padding: 30px;
    background-color: #caeac3;
}

.unit input{
    width: 50px;
    text-align: center;
    padding: 8px;
}

.right-bar{
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgb(100,100,111,0.2)0 7px 29px 0;
}

.right-bar hr{
    margin-bottom: 25px;
}

.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.submit{
    background: var(--green-color);
    color: var(--bg-color);
    border-radius: 30px;
    font-weight: 600;
    border: none;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

.submit:hover{
    background: var(--light-orange-color);
    transition: 0.2s ease;
}




@media screen and (max-width:700px) {
    .content h3{
        margin-bottom: 15px;
    }
    
    .content h4{
        margin-bottom: 20px;
    }

    .btn2{
        display: none;
    }

    .box{
        height: 150px;
    }

    .box img{
        height: 150px;
        width: 200px;
    }
}


