@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;500;600;700,900&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    ;
    scroll-behavior: smooth;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
}

.container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container img {
    width: 75%;
    height: 70%;
    position: absolute;
    top: 100px;
    left: 400px;
}


.home-text {
    padding-left: 100px;
}

.home-text span {
    font-weight: 400px;
    text-transform: uppercase;
    color: var(--green-color);
}

.home-text h1 {
    font-size: 0.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-active{
    display: inline-block;
}

.btn {
    font-size: 0.8rem;
    padding: 0.1rem 1rem;
    
    color:green;
    font-weight: 300px;
    border-radius: 5rem;
    display: flex;
    column-gap: 0.5rem;
    max-width: 100px;
    border: 2px solid green; 
}
.btn .bx {
    padding: 4px;
    background: var(--green-color);
    color: white;
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    transition: 0.2s ease;
    color:var(--light-orange-color);
    border: 2px solid ; 
}

.btn:hover .bx {
    background: var(--light-orange-color);
    
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--green-color);
}


.box1{
    background: #fef4ea;
}

.box2{
    background: #e9f4e3;
}

.box3{
    background: #faeaea;
}

.box4{
    background: #eeeef9;
}

.box1{
    background: #f7f6d7;
}

/* .products{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54/15%);
    border-radius: 1.5rem;
    position: relative;
}

.products-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container .box span{
    font-weight: 500;
    font-size: 13px;
}


.products-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.products-container .box .price{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange-color);
}

.products-container .box .price span{
    color: var(--text-color);
}

.products-container .box .bx-cart-alt{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}

.products-container .box .bx-cart-alt:hover{
    background: var(--orange-color);
    transition: 0.2s all linear;
}

.products-container .box .bx-heart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--light-orange-color);
}

.products-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--light-orange-color);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 100%, 0 50%, 0 0);
} */

.about{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.about-text span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange-color);
}

.about-text p{
    margin: 0.5rem 0 1rem;
    
}

.customer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.customer h2{
    text-align: center;
    font-size: 1,6rem;
    font-weight: 600;
}
.customer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.customer-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54/15%);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--green-color);
}

.customer-container .box:hover{
    transform: translate(10px);
    transition: 0.2a all linear;
}

.customer-container .box .bx{
    font-size: 24px;
    color: var(--green-color);
}

.customer-container .box .stars .bx{
    font-size: 1rem;
    color: var(--light-orange-color);
}

.customer-container .box p{
    font-size: 0.938rem;
}

.review-profile{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
}

.review-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile h3{
    font-size: 1rem;
    font-weight: 600;
}

.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #abfbab;
    border-radius: 0.5rem;
    padding: 20px;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box p{
    font-size: 0.938;
    margin: 0.5rem 0 1rem;
}

.feedback{
    width: 70px;
    height: 70px;
    color: #ffffff;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    padding: 10px;
    background: var(--bg-color);
    color: var(--green-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover{
    background: var(--green-color);
    color: var(--bg-color);                     
    transition: 0.2s all linear;

}

.footer-box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a{
    color: #868a92;
    margin-bottom: 1rem;
}

.footer-box h5{
    color: #868a92;
    margin-bottom: 1rem;
    font-size: 15px;
}

.footer-box a:hover{
    color: var(--green-color);
}

.Feedback .footer-box form{
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-box form input{
    background: transparent;
    border: none;
    outline: none;
}

.footer-box form .bx{
    font-size: 20px;
    color: var(--light-orange-color);
    cursor: pointer;
}

.footer-box form .bxs-envelope{
    color: var(--green-color);
}

.copyright{
    text-align: center;
    padding: 20px;
}




    