#successModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  color: #4caf50;
  z-index: 1;
  border-radius: 15px;
  border: 2px solid #4caf50;
  height: 150px;
  width: 200px;
}
.sucess {
  width: 50px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: calc(100% - 5px);
  margin-bottom: 5px;
}

.gif {
  background: url("gif4.gif") no-repeat center center;
  margin-left: 25%;
  align-content: center;
  height: 95px;
  width: 95px;
  margin-bottom: 20px;
}
.gif2 {
  background: url("prio.gif") no-repeat center center;
  margin-left: 20%;
  align-content: center;
  height: 80px;
  width: 95px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  backdrop-filter: blur(9px);
  z-index: 1;
}
