        body{
            background-size: cover;
        }
         
        .order-form {
          background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            min-width: 320px;
            overflow-y: auto;
            overflow: visible; 
}

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
            font-weight: bold;
        }

        select, input, button {
            width: calc(100% - 1px); /* Adjusted width to account for padding */
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 15px;
            border-radius: 15px; 
            border: none;
            border-block: none;
            outline: none;
            border-bottom: 1px solid #4caf50;

                
        }
       input{
           border-bottom: 1px solid green; 
        }
        select:hover{
            border-bottom: 1px solid red; 
        }
           
        button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #45a049;
        }

        .subcategory-container {
            margin-top: 15px;
        }

        /* Additional style for table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border: none;
        }

        th { 
            text-align: center; 
            padding: 10px; 
            
}
        th {
            background-color: #4caf50;
            color: #fff
        
        }
        td{
           padding: 5px; 
        }
    

        /* Additional style for the Confirm Order button */
        .confirm-order-button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
            margin-top: 15px;
        }

        .confirm-order-button:hover {
            background-color: #45a049;
        }
        input[type='checkbox'] {
    accent-color: #45a049;
    }
        #r{
            font-weight: bold;
        }
        #leftth{
            border-top-left-radius: 10px;
        }
        #rightth{
           
           border-top-right-radius: 10px;
        } 
        tr:hover{
            background: hsla(207, 88%, 23%, 1);

background: radial-gradient(circle, hsla(207, 88%, 23%, 1) 0%, hsla(115, 50%, 70%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(207, 88%, 23%, 1) 0%, hsla(115, 50%, 70%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(207, 88%, 23%, 1) 0%, hsla(115, 50%, 70%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#074170", endColorstr="#92D88B", GradientType=1 );
}