body {
  font-family: Arial, Helvetica, sans-serif;
  columns: black;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: transparent;
  height: 100vh;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  color: black;
  position: inherit;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  color: black;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: black;
}
.area {
  height: 100vh;
  border-radius: 10px;
  background: #4e54c8;
  background: white;
  height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  color: black;
}
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: black;
}
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 150px;
  top: 0;
  right: 0;
  background-color: #383938;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  margin: auto;
}

.sidepanel a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #a8a6a6;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.profile-icon {
  background-image: url("profile.png");
  position: absolute;
  right: 25px;
  height: 20px;
  width: 20px;
  margin-bottom: 400px;
}

.profile-panel {
  position: fixed;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 190px;
  display: none;
}

.our-team {
  margin-bottom: 2px;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.our-team .picture {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #4caf50;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4caf50;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #4caf50;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 14px;
  color: #4e5052;
}
