body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 0;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

.container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 5%;
}
.order-form {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  overflow: visible;
  margin-top: 5%;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 5px;
  color: #4caf50;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.alert {
  margin-top: 15px;
  padding: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 5px;
  text-align: center;
}

.option {
  width: 45%;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  padding-right: 5px;
}
a {
  text-decoration: none;
  color: white;
}

.option:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .option {
    width: 100%;
  }
}

select,
input,
button {
  width: calc(100% - 1px);
  /* Adjusted width to account for padding */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 15px;
  border: none;
  border-block: none;
  outline: none;
  border-bottom: 1px solid #4caf50;
}

input {
  border-bottom: 1px solid green;
}

select:hover {
  border-bottom: 1px solid red;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

.subcategory-container {
  margin-top: 15px;
}

/* Additional style for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: none;
}

th {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
}

td {
  color: black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Additional style for the Confirm Order button */

.confirm-order-button:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  accent-color: #45a049;
}

#r {
  font-weight: bold;
}

#leftth {
  border-top-left-radius: 8px;
}

#rightth {
  border-top-right-radius: 8px;
}

tr:hover {
  background: hsla(207, 88%, 23%, 1);

  background: -webkit-radial-gradient(
    circle,
    hsla(207, 88%, 23%, 1) 0%,
    hsla(115, 50%, 70%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(207, 88%, 23%, 1) 0%,
    hsla(115, 50%, 70%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: radial-gradient(
    circle,
    hsla(207, 88%, 23%, 1) 0%,
    hsla(115, 50%, 70%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#074170", endColorstr="#92D88B", GradientType=1);
}

.subcategory-container {
  margin-top: 15px;
}

/* Additional style for table */
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
input[type="checkbox"] {
  accent-color: #45a049;
}
